---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-github"></i>
                <h4>See what I have been upto.</h4>
                <p><br/><a href="http://www.github.com/soumyavardhan" class="btn btn-theme">Github profile</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4>I don't know much but I try to help with whatever little knowledge I have</h4>
                <p><br/><a href="http://www.quora.com/Soumya-Vardhan-Singh" class="btn btn-theme">Quora Profile</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-linkedin"></i>
                <h4>Connect on Linkedin</h4>
                <p><br/><a href="http://in.linkedin.com/pub/soumya-vardhan-singh/37/141/b84" class="btn btn-theme">Linkedin Profile</a></p>
            </div>		 				
        </div>
    </div><! --/container -->
</div><! --/service -->

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Me.</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>I have no idea what to put here.</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

    </div><! --/row -->
</div><! --/container -->
