<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Hello</h3>
                <h1>This is Soumya Vardhan Singh.</h1>
                <h5>I work as a Software Developer with Airtight Networks.</h5>
                <h5>I graduated in Computer Science from IIIT-Delhi in 2014.</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
		    <!--<img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">-->
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
